html {
    font-size: 10px;
  }

  body {
    background: linear-gradient(135deg, yellow, purple, pink);
    font-family: 'Raleway', sans-serif;    
    color: white;
    font-weight: 200;
    font-size: 20px;
  }

  h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 5rem;
 
  }

  .text {
    margin-left: -20px; 
  }

  .container {
      height: 100vh;
      position: relative;
  }

  .speech {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
      padding: 2rem 2rem 1rem 5rem;
      background-size: 100% 2rem;
      position: relative;
      line-height: 2rem;
      height: 300px;
      overflow-y: scroll;
     overflow-x: hidden;
  }
  
  .buttons {
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .talk-btn {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    width: 200px;
  }

  .save-btn {
    width: 200px;
    padding: 5px;
    border-radius: 5px;

  }